*{
    border-radius:5px;
}
.call{
    border-radius:5px;
    text-align:center;
    background-color:#0000b0;
    width:60%;
    padding: 5px;
    margin:10px auto 10px auto;
}

.call p{
    color:#ffffff;
    font-size:1.5em;
    padding:0;
    margin:0;
}

form {
background-color:#FFA500;
width:90%;
margin:auto;
color:white;
padding:10px;
}
input {
margin: 1px 0 10px 0;
}

audio {
max-width: 100%;
}

video {
max-width: 100%;
height: auto;
}

.video, .audio {
margin:0;
display: grid; /*This needs to be set or it won't center*/
justify-content:space-around;
}

img{
    max-width:100%;
}

body{
    font-family: Verdana;
    background: linear-gradient(to right, #280463, #1300e8);
    margin:0;
    padding:0;
}

header{
    grid-area:header;
    background-color:#ab231b;
    text-align:center;
}

.studypic{
    margin:auto;
    display:grid;
}

.headerpic{
    grid-area:headerpic;
    padding:5px;
    height:10vmax;
}

.headertext{
    grid-area:headertext;
    text-align:center;
}

.headerwrapper{
    display:grid;
    justify-items:center;
    align-items:center;
    grid-template-columns:25% auto;
    grid-template-areas:
        "headerpic headertext";
}

header h1{
    font-size:5vw;
    color:#ffffff;
    font-family:Impact;
    text-shadow: 2px 2px 5px #3217ff;
    margin: 0;
}

header h3{
    font-size:3vw;
    color:#ffffff;
    margin:0;
}

aside{
    grid-area:aside;
    background-color:#ffdd03;
}

aside h2{
    color:#0000b0;
    text-align:center;
}

aside li{
    color:#0000b0;
    font-size:1.25em;
    padding:10px 0;
}

aside a{
    color:#0000b0;
}
nav{
    grid-area:nav;
    background-color:#226324;
}

nav li{
    padding:10px 10px;
    list-style-type:none;
    font-size:1.5em;
    font-weight:bold;
}

nav ul{
    padding:0;
}

nav a{
    text-decoration:none;
    color:#ffffff;
}

nav a:hover{
    text-shadow: 2px 2px 5px #3217ff;
}

article{
    color:white;
    background-color:#0000b0;
}

article h2{
    text-align:center;
}

article.top{
    grid-area:top;
}

article.middle{
    grid-area:middle;
}

article.bottom{
    grid-area:bottom;
}

main{
    grid-area:main;
    background-color:#A4C4FE;
}

main h2{
    text-align:center;
    color:#011cbb;
}

main p{
    color:#000080;
    padding:1% 2%;
    font-size:1em;
}

main a{
    color:#000080;
}
figure{
    margin:0;
    text-align:center;
}

figcaption{
    padding:5px;
    color:#0000b0;
    font-weight:bold;
}

figure img{
    margin-top:16px;
    max-width:20em;
    border:2px solid #0000b0;
}

footer{
    grid-area:footer;
    background-color:#400057;
}

footer p{
    font-size:1em;
    color:#ffffff;
    margin:0;
    text-align:center;
}

.fig2{
    background-color:white;
    grid-area:fig2;
}

.fig1{
    grid-area:fig1;
}
/*-mobile-*/
.container1{
    display: grid;
    grid-template-columns:1fr;
    grid-gap:.5em;
    margin:1%;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

.container2{
    display: grid;
    grid-template-columns:1fr;
    grid-gap:.5em;
    margin:1%;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

.container3{
    display: grid;
    grid-template-columns:1fr;
    grid-gap:.5em;
    margin:1%;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "top"
        "middle"
        "bottom"
        "footer";
}

.container4{
    display:grid;
    grid-template-columns:100%;
    margin:1%;
    grid-gap:.5em;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "fig2"
        "footer";
}

.toggleNav{
    display:grid;
    text-align:center;
    font-size:1.5em;
    font-weight:bold;
    padding:10px;
}

#flex-nav ul{
    display: none;
    text-align:center;
    list-style: none;
    margin: 0;
    padding: 0;
}
 
#flex-nav ul.open{
    display:grid;
}
    
#flex-nav li{
    padding-left:10px;
    padding-top:10px;
}
/*-tablet-*/
@media only screen and (min-width: 480px){
    .container1{
        grid-template-columns:auto 1fr;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }
    
    .container2{
        grid-template-columns:auto 1fr;
        grid-template-areas:
            "header header"
            "nav aside"
            "main main"
            "footer footer";
    }
    
    .container3{
        grid-template-columns:auto 1fr;
        grid-template-areas:
            "header header"
            "nav main"
            "top top "
            "middle middle"
            "bottom bottom"
            "footer footer";
    }
    
    .container4{
        display:grid;
        grid-template-columns:auto 1fr;
        margin:1%;
        grid-gap:.5em;
        grid-template-areas:
            "header header"
            "nav main"
            "fig2 fig2"
            "footer footer";
    }
    
    .nestedgrid{
        display:grid;
        grid-template-columns:100%;
        grid-template-areas:
            "section"
            "fig1";
    }
  
    .toggleNav{
        display: none;
    }
  
    #flex-nav ul{
        display:grid;
        text-align:left;
    }

    #flex-nav li{
        padding-left:10px;
        padding-top:10px;
    }
}
/*-desktop-*/
@media only screen and (min-width: 960px){
    .container1{
        grid-template-columns:auto 1fr;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }
    
    .container2{
        grid-template-columns:auto 1fr 25%;
        grid-template-areas:
            "header header header"
            "nav main aside"
            "footer footer footer";
    }
    
    .container3{
        grid-template-columns:auto 1fr 1.5fr;
        grid-template-areas:
            "header header header"
            "nav main top"
            "nav main middle"
            "nav main bottom"
            "footer footer footer";
    }
    .container4{
        grid-template-columns:auto 1fr;
        grid-template-areas:
            "header header"
            "nav main"
            "fig2 fig2"
            "footer footer";
    }
    
    .nestedgrid{
        grid-template-columns:2fr 1fr;
        grid-template-areas:
            "section fig1";
    }
    .nestedgrid2{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
            "div1 div2";
    }
}